@{
    ViewData["Title"] = "Home Page";
}

<h2>Index Page</h2>

<!-- Länk till AddUser sidan -->
<a href="@Url.Action("AddUser", "Hadidas")">Go to Add User</a>
<a href="@Url.Action("ReadUsers", "Hadidas")">Go to Read User</a>
